@media only screen and (max-width: 340px){
	header{
		height: 30px;
	}
	.header-content{
		position: relative;
		padding-left: 40px;
		background-color: #000;
    	opacity: 0.9;
	}
	.logo{
		width: 30%;
	}
	nav ul{
  		width: 100%;
  		position: absolute;
  		top: 100%;
  		left: 0;
  		z-index: 100;
 	 	display: none;
	}
	nav ul a{
		width: 80%;
		margin: 0 auto;
	  	height: 38px;
    	line-height: 41px;
	  	border-bottom: 1px solid #022750;
	}
	nav ul li{
		padding: 0 0 0 10px;
		background-color: #000;
    	opacity: 0.9;
	}
	nav ul li:not(:last-child){
		border:none;
	}
	.burger-container{
  		display: block;
	}
	.nav-burger-checkbox {
 		display: none;
	}
	.nav-burger-checkbox:checked ~ nav ul {
  		display: block;
	}
	.block-title{
		height: auto;
		height: 189px;
	}
	.block-info-content1{
	    margin-bottom: 50px;
	    padding: 10px;
	    font-size: 15px;
	}
	.block-button{
		display: none;
	}
	.block-info{
		height: 100%;
	}
	.title{
		font-size: 38px;
    	margin-top: 12px;
	}
	.container-text{
		margin-bottom: 35px;
	}
	.container-text p{
		font-size: 16px;
	}
	.wrapper-info img{
		width: 100%;
	}
	.info-block-2{
		flex-direction: column-reverse;
		border-bottom: 1px solid #CECECE;
    	border-top: 1px solid #CECECE;
    	padding: 8px 0px;
    	margin-top: 15px;
	}
	.wrapper-info p{
		width: 100%;
		font-size: 19px;
    	text-align: center;
	}
	.container-links{
		border-bottom:1px solid #000;
	}
	.block-links{
		width: 80%;
    	margin: 0 auto;
    	display: flex;
    	position: relative;
    	transform: rotate(0deg);
	}
	.content-box{
		display: flex;
    	width: 100px;
    	margin: 10px;
    	height: 100px;
    	cursor: pointer;
    	margin-top: 15px;
    	transform: rotate(-42deg);
	}
	.content-box div{
		transform: rotate(43deg);
	}
	.border-line-1:before,.border-line-1:after{
		display: none;
	}
	.border-line-2:before,.border-line-2:after{
		display: none;
	}
	.border-line-3:before,.border-line-3:after{
		display: none;
	}
	.move-block{
		margin: 10px 0 0 6px;
    	transform: rotate(-42deg);
	}
	.block-links div:nth-child(2){
		flex-direction: column-reverse;
    	margin-left: 29px;
	}
	.border-line-2{
		margin: 59px 0px 0px 22px;
	}
	.block-links > div img{
		margin-top: 21px;
	}
	.move-box{
		transform: rotate(-44deg);
	}
	.block-move-4{
		flex-direction: column;
   	 	position: absolute;
    	top: 177px;
	}
	.block-move-4 div:first-child{
		margin: 0;
	}
	.content-box h2{
		margin-top: 16px;
		font-size: 12px;
	}
	#move-block-1{
		margin: 63px 0 0 -6px;
	}

	.move-block-2{
		position: absolute;
    	top: 152px;
    	right: -162px;
    	transform: rotate(-43deg);
	}
	.container-form-bg,.main-info-bg,.block-main-textarea{
		display: none;
	}
	.image-margin{
		width: 172px;
	}
 	.block-checkbox{
	flex-direction: column-reverse;
	}
	.block-contact-form{
		flex-direction: column;
	}
	.contact-info-content form{
		width: 100%;
	}
	.block-contact-form .left-block{
		width: 100%;
		height: 175px;
		background-size: cover;
	}
	.contact-info-content input[type="checkbox"]{
		width: 60px;
		height: 60px;
	}
}