.wrapper,.container-bombs {
    display: flex;
    flex-direction: column;
}
.main-container {
    width: 1024px;
    margin: 0 auto;
    height: 768px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-image: url(../IMG/bg.png);
    background-size: cover;
}
.first-wave,.second-wave {
    width: 100%;
    height: 59%;
    position: absolute;
    bottom: 0px;
    animation: wave-first 25s  infinite linear;
}
.first-wave {
    background-image: url(../IMG/волна.png);
}
.second-wave {
    background-image: url(../IMG/вода.png);
    z-index: 2;
} 
.stars {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../IMG/Звезды.png) no-repeat;
    background-size: contain;
    animation: stars-light 3s infinite linear;
}
.container-move {
    width: 52%;
    height: 300px;
    display: flex;
    position: absolute;
    bottom: 0;
    transform: scaleX(-1);
    animation: ship 5s infinite linear;
    z-index: 2;
}
.sea {
    width: 100%;
}
.ship {
    width: 85%;
    height: 284px;
    background-image: url(../IMG/лодка.png);
    z-index: 1;
    cursor: pointer;    
}
.container-bubble {
    height: 48%;
    width: 17%;
    position: relative;
    top: 30%;
}
.container-bubble-out {
    animation: bubbleOut 1s linear forwards;
}
.bubble {
  width: .4rem;
  height: .4rem;
  position: absolute;
  border-radius: 50%;
  background: rgba(0, 103, 214, .2);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, .7);
  left: 32%;
  opacity: 0;
  bottom: 0;
  animation: bubble 1s linear infinite;
}
.container-bubble div:nth-child(1) {
    left: 19px;
    animation: bubble 1s linear infinite;
}
.container-bubble div:nth-child(2) {
    left:15px;
    animation: bubble 1s linear infinite 0.2s;
}
.container-bubble div:nth-child(3) {
    animation: bubble 1s linear infinite 0.4s;
}
.container-bubble div:nth-child(4) {
    left:10px;
    animation: bubble 1s linear infinite 0.6s;
}
.container-bubble div:nth-child(5) {
    animation: bubble 1s  linear infinite 0.8s;
}
.container-bubble div:nth-child(6) {
    animation: bubbleFireworks 1s linear infinite 1s;
} 
.iceberg {
    width: 150px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    align-self: center;
    z-index: 1;

    animation: iceberg 2s infinite alternate;
}
.iceberg div {
    width: 50px;
    height: 75px;
    position: relative;
    background-size: cover;
}
#animation-run {
    animation-play-state: paused;
}
.iceberg div:nth-child(1) {
    background-image: url(../IMG/iceberg/image_part_001.png);
    animation: icePieceFirst 1s linear 14s forwards;
}
.iceberg div:nth-child(2) {
    background-image: url(../IMG/iceberg/image_part_002.png);
    animation: icePieceSecond 1s linear 14s forwards;
}
.iceberg div:nth-child(3) {
    background-image: url(../IMG/iceberg/image_part_003.png);
    animation: icePieceThird 1s linear 14s forwards;
}
.iceberg div:nth-child(4) {
    background-image: url(../IMG/iceberg/image_part_004.png);
    animation: icePieceFour 1s linear 14s forwards;
}
.iceberg div:nth-child(5) {
    background-image: url(../IMG/iceberg/image_part_005.png);
    animation: icePieceFive 1s linear 14s forwards;
}
.iceberg div:nth-child(6) {
    background-image: url(../IMG/iceberg/image_part_006.png);
    animation: icePieceSix 1s linear 14s forwards;
}
.container-bomb div {
    width: 150px;
    height: 40px;
    position: absolute;
    background-image: url(../IMG/торпеда.png);
    background-size: contain;
}
.container-bomb {
    width: 100%;
    height: 51%;
    position: relative;
    align-self: flex-end;
}
.container-bomb div:nth-child(1) {
    right: -148px;
    animation: movefirstbomb 4s ease-in 5s;
}
.container-bomb div:nth-child(2) {
    top: 170px;
    right: -148px;
    animation: movesecondbomb 4s ease-in 7s;
}
.container-bomb div:nth-child(3) {
    top: 335px;
    right: -148px;
    animation: movethirdbomb 4s ease-in 9s;
}
.container-bomb div:nth-child(4) {
    left: -148px;
    animation: movefourbomb 4s ease-in 6s;
}
.container-bomb div:nth-child(5) {
    top: 170px;
    left: -148px;
    animation: movefivebomb 4s ease-in 8s;
}
.container-bomb div:nth-child(6) {
    top: 335px;
    left: -148px;
    animation: movesixbomb 4s ease-in 10s;
}
.start-move-bomb {
    animation-play-state: paused;
}
.shipOut {
    background-size: contain;
    background-repeat: no-repeat;
    animation: shipOut 4s linear forwards;
}
.move-center {
    animation-iteration-count: 0;
}
@keyframes shipOut {
    0% {
        transform: translate(0,0) scaleX(1) rotate(0);
        width: 100%;
    }
    50% {
        width: 8%;
        transform: translate(-100%,-10px) scaleX(1) rotate(16deg);
    }
    100% {
        width: 0;
        transform: translate(-1500%,-50px) scaleX(-1) rotate(16deg);
    }
}

@keyframes bubbleOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes iceberg {
    0% {
        transform: translateY(-60px);
    }
    35% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateX(-10px) translateY(-5px);
    }
    100% {
        transform: translateX(15px) translateY(-10px);
    }
}
@keyframes bubble {
    0%, 5% {
        opacity: 1;
    }
    20% {
      transform: scale(2) translateY(-10px);
    }
    40% {
      transform: scale(3) translateY(-20px);
    }
    60% {
      transform: scale(4) translateY(-30px);
    }
    80% {
      transform: scale(5) translateY(-40px);
    }
    100%{
      transform: scale(6) translateY(-50px);
      opacity: 0;
    }
}
@keyframes ship {
    0% {
        left: 0;
    }    
    45% {
       transform: scaleX(-1);
       left: 48%;
    }
    48% {
       left: 48%;
       transform: scaleX(1);
    }
    100% {
       left:0;
       transform: scaleX(1);
    }
}
@keyframes stars-light {
    0%,100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
@keyframes wave-first {
    0%,100% {
        background-position: right 1000px top 0;
    }
    50% {
        background-position: right 10000px top 0;
    }
}
@keyframes movefirstbomb {
    0% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-25deg);
    }
    80% {
        transform: rotate(25deg);
    }
    100% {
        transform: rotate(10deg);
        right: 323px;
    }
}
@keyframes movesecondbomb {
    0% {
        right: -148px;
        transform: rotate(22deg);
    }
    40% {
        transform: rotate(35deg);
    }
    80% {
        transform: rotate(16deg);
    }
    100% {
        top: 60px;
        right: 344px;
        transform: rotate(39deg);
    }
}
@keyframes movethirdbomb {
    0% {
        right: -148px;
        transform: rotate(22deg);
    }
    40% {
        transform: rotate(35deg);
    }
    80% {
        transform: rotate(16deg);
    }
    100% {
        top: 60px;
        right: 344px;
        transform: rotate(39deg);
    }
}
@keyframes movefourbomb {
    0% {
        transform: scale(-1) rotate(15deg);
    }
    40% {
        transform: scale(-1) rotate(-25deg);
    }
    80% {
        transform: scale(-1) rotate(18deg);
    }
    100% {
        transform: scale(-1) rotate(10deg);
        left: 323px;
    }
}
@keyframes movefivebomb {
    0% {
        left: -148px;
        transform: scale(-1) rotate(-22deg);
    }
    40% {
        transform: scale(-1) rotate(-35deg);
    }
    80% {
        transform: scale(-1) rotate(-16deg);
    }
    100% {
        top: 60px;
        left: 344px;
        transform: scale(-1) rotate(-39deg);
    }
}
@keyframes movesixbomb {
    0% {
        left: -148px;
        transform: scale(-1) rotate(-22deg);
    }
    40% {
        transform: scale(-1) rotate(-35deg);
    }
    80% {
        transform: scale(-1) rotate(-16deg);
    }
    100% {
        top: 60px;
        left: 344px;
        transform: scale(-1) rotate(-39deg);
    }
}
@keyframes icePieceFirst {
    0% {
        transform: translate(0,0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: translate(-101px,-79px) rotate(180deg);
        opacity: 0;
    }
}
@keyframes icePieceSecond {
    0% {
        top: 0;
        transform: rotate(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100px) rotate(180deg);
        opacity: 0;
    }
}
@keyframes icePieceThird {
    0% {
        transform: translate(0,0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: translate(101px,-79px) rotate(180deg);
        opacity: 0;
    }
}
@keyframes icePieceFour {
    0% {
        transform: translate(0,0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: translate(-101px,79px) rotate(180deg);
        opacity: 0;
    }
}
@keyframes icePieceFive {
    0% {
        transform: translate(0,0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: translateY(79px) rotate(180deg);
        opacity: 0;
    }
}
@keyframes icePieceSix {
    0% {
        transform: translate(0,0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: translate(101px,79px) rotate(180deg);
        opacity: 0;
    }
}